.router-link-active{
  color:yellow;
}

.router-link{
  color: #fafafa;
}

.rounded-picture {
  border-radius: 50%;
  width:50px;
  height:50px;
  -moz-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  filter: FlipH;
  -ms-filter: "FlipH";
  margin:0px 10px 0px 0px;
}
